body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  background-image: url('/assets/books.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: -1;
}

.home-title {
  font-size: 48px;
  color: azure;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.home-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

